<?xml version="1.0"?>

<launch>
    <arg name="cmd_vel_topic"       default="cmd_vel" /> <!-- do NOT use '/' in topic name-->
    <arg name="ackermann_cmd_topic"       default="ackermann_cmd" />
    <!-- config param -->
    <arg name="address"    default="192.168.137.204" />
    <arg name="port"       default="8181" />
    <arg name="ackermann_mode"       default="False" />

    <node name="webmove_control"   pkg="web_cmd_vel"  type="webcmd_forward.py" output="screen">
        <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/> 
        <param name="ackermann_cmd_topic" value="$(arg ackermann_cmd_topic)"/> <!-- topic name -->

        <param name="address" type="string" value="$(arg address)" />
        <param name="port"  value="$(arg port)"/> <!-- websocket server port -->
        <param name="ackermann_mode" value="$(arg ackermann_mode)"/> <!-- use ackermann mode or not -->
    </node>
</launch>
